/*GENERALES*/
*{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Condensed", sans-serif;
    
}

body{
    background: #ffffff;
}

a{
    color: #000;
    text-decoration: none;
}

a:visited{
    color: #000;

}
.formGeneral{
    width: 50%;
}


.alert_green{
    color: green;
}

.alert_red{
    color: red;
}
/*CONTAINER*/
.container{
    width: 80%;
    margin: 0px auto;
    background: #ffffff;
    
}
/*HEADER*/
.header{
    height: 185px;
    padding: 0 0 20px 0;
    background: #f7f7f7;
    color: #000000;
}
.header-content{
    display: flex;
    align-items: end;
}

.logo{
    padding: 20px;
    margin-left: 7%;
}
.logo img{
    float:left;
    height: 110px;
}

.logo a{
    float:left;
    font-size: 70px;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    color: #EF7F3B;
    font-weight: bold;
    text-decoration: none;
    margin-top: 2%;
    margin-left: auto;
    text-shadow: 1px 2px 1px #222222;
    transition: all 300ms;
}
.navheader{
    margin-right: auto;
}

.navheader ul li{
    float: left;
    padding: 12px 8px;
}
.menulogin{
    padding-left: 20px;
}
.nav{
    border-top: 1px solid #c9c9c9;
    margin-left: 10%;
    margin-right: 10%;
    clear: both;
    width: 80%;
    height: 45px;
    background: #f7f7f7;
    overflow: hidden;


}
.nav a{
    text-decoration: none;
}

.nav a:hover{
    color:#EF7F3B;
}


.nav ul, .navheader ul{
    list-style: none;
   
}

.nav ul li{
    font-weight: 700;
    text-transform: uppercase;
    float:left;
    padding: 12px 8px;

}

.nav ul li a{
    display: block;
    
}

.nav ul li:hover{
    color: #EF7F3B;
}

/*CONTENT*/

.content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

.lateral{
    width: 20%;
    min-height: 500px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #f7f7f7;
    border-radius: 20px;
}

.lateral h1{
    color: #EF7F3B;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    display: block;
    width: 100%;
    text-align:left;
    padding-top: 2px;
    padding-bottom: 15px;
    
}

.block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}
label, .formulario, .formulario-number, textarea{
    display: block;
    width: 95%;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 20px;
}
.formGeneral{
    width: 50%;
}
.formulario, .formulario-number, textarea{
    border: 1px solid #f0ebeb;
    box-shadow: 0px 0px 1px #f7f7f7;
    padding: 2px;
    color:#555;
}

.formulario-number{
    width: 30% !important;
}

textarea{
    display: block !important;
    width: 95%;
    height: 58px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.lateral ul{
    margin-top: 5px;
    margin-bottom: 20px;
    
}
.lateral ul li{
    list-style: square;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
}
.lateral h3{
    color:#EF7F3B;
    margin-top: 10px;
}

.lateral h3:hover{
    color:#000;
}

.inputButton{
    outline: none;
    border: 2px solid #EF7F3B;
    background: #EF7F3B;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    
}

.button-small{
    text-align: center;
    margin-bottom: 20px;
}

.titulo{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 32%;
    padding: 2px;
}
.central{
    width: 70%;
    float: left;
    padding: 20px;
    min-height: 500px;
}

.product{
    width:25%;
    /*height: 300px;*/
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    /*padding: 15px;*/
    text-align: center;
}

.product img{
    height: 120px;
    margin-bottom: 10px;
    
}
.product h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
}
.product p{
    font-size: 23px;
    font-weight: 400;
    padding: 5px 0px;
    margin-bottom: 15px;
}
.detail-product{
    width: 100%;
    display: block;
}
.detail-product h1{
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}
.image{
    float: left;
    padding: 5%;
}


.info{
    float: right;
    width:30%;
    text-align: center;

}
.info p{
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    text-align: left !important;
    margin-top: 33%;
    line-height: normal;
}

.info h2{
    font-size: 28.8;
    color: #353535;
    font-style: italic;
    font-weight: 700;
    margin-top: 18%;
    margin-bottom: 10%;
}

.footer{
    clear: both;
    text-align: center;
    width: 100%;
    background: #221F20;
    color: #FCFCFC;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.tituloContainer h1{
    color: #EF7F3B;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    display: block;
    width: 100%;
    text-align:left;
    padding-top: 2px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}
.tabla{
    margin-left: 19%;
}
table { 
    border-collapse: collapse; 
    margin: 25px 0; 
    font-size: 1em; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
    text-align: center;
}

thead tr { 
    background-color: #EF7F3B; 
    color: #ffffff; 
    text-align: middle; 
}

th, td { 
    padding: 12px 15px; 
}

body tr { 
    border-bottom: 1px solid #dddddd; 
} 
tbody tr:nth-of-type(even) { 
    background-color: #f3f3f3; 
} 
